@import "tailwindcss";
:root {
  @apply bg-neutral-950;
  font-family: Roboto;
  color: #f6f6f6;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  width: 100vw;
  height: 100vh;
}
@font-face {
  font-display: block;
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf");

}
@font-face {
  font-display: block;
  font-family: "Rose";
  src: url("./assets/fonts/Fleur_De_Leah/FleurDeLeah-Regular.ttf");
}
@font-face {
  font-display: block;
  font-family: "Techno";
  src: url("./assets/fonts/Orbitron/Orbitron-VariableFont_wght.ttf");
}

@font-face {
  font-display: block;
  font-family: "Tangerine-Regular";
  src: url("./assets/fonts/Tangerine/Tangerine-Regular.ttf");
}

@font-face {
  font-display: block;
  font-family: "Tangerine-Bold";
  src: url("./assets/fonts/Tangerine/Tangerine-Bold.ttf");
}

.ctr {
  @apply text-center flex items-center justify-center
}

.container-primary {
  @apply shadow-sm border border-zinc-700 shadow-zinc-600 rounded-sm bg-zinc-900
}
.container-secondary {
  @apply shadow-sm border border-zinc-800 shadow-zinc-700 rounded-sm bg-zinc-900
}


.dropdown {
  @apply bg-zinc-900 border-0 appearance-none
}

.container-neutral {
  @apply shadow-lg border border-zinc-800 shadow-zinc-700 rounded-sm bg-neutral-950
}

.input-box {
  @apply shadow-lg border border-zinc-800 shadow-zinc-700 rounded-sm bg-zinc-900
}


.sm-icon {
  @apply w-4 h-4 text-gray-400 inline-block
}

.md-icon {
  @apply w-6 h-6 text-gray-400 inline-block
}


@theme {
  --animate-dropdown: dropdown 500ms linear;
  @keyframes dropdown {
    0% {
      max-height: 1.5em;
      opacity: 50;
      overflow: hidden;
    }
    100% {
      max-height: 500px;
      overflow: auto;
      opacity: 100;
    }
  }
}
